
.vs/DailyProgrammerChallenge398Difficult/v17/.futdcache.v2
.vs/ProjectEvaluation/dailyprogrammerchallenge398difficult.metadata.v6.1
.vs/ProjectEvaluation/dailyprogrammerchallenge398difficult.projects.v6.1
*.exe
*.pdb
*.dll
*.cache
*.vsidx
*.v2
*.vsidx
.vs/DailyProgrammerChallenge398Difficult/DesignTimeBuild/.dtbcache.v2
.vs/DailyProgrammerChallenge398Difficult/FileContentIndex/44db513d-6ffb-4227-8aa2-c7c5b4709fbc.vsidx
DailyProgrammerChallenge398Difficult/obj/Debug/net7.0/DailyProgrammerChallenge398Difficult.csproj.BuildWithSkipAnalyzers
DailyProgrammerChallenge398Difficult/obj/Debug/net7.0/DailyProgrammerChallenge398Difficult.csproj.FileListAbsolute.txt
.vs/DailyProgrammerChallenge398Difficult/v17/.suo
.vs/DailyProgrammerChallenge398Difficult/DesignTimeBuild/.dtbcache.v2
.vs/DailyProgrammerChallenge398Difficult/FileContentIndex/44db513d-6ffb-4227-8aa2-c7c5b4709fbc.vsidx
.vs/DailyProgrammerChallenge398Difficult/v17/.suo
.vs/*
DailyProgrammerChallenge398Difficult/obj/*
DailyProgrammerChallenge398Difficult/bin/*
.vs/DailyProgrammerChallenge398Difficult/DesignTimeBuild/.dtbcache.v2
.vs/DailyProgrammerChallenge398Difficult/FileContentIndex/44db513d-6ffb-4227-8aa2-c7c5b4709fbc.vsidx
.vs/DailyProgrammerChallenge398Difficult/v17/.suo
.vs/DailyProgrammerChallenge398Difficult/DesignTimeBuild/.dtbcache.v2
DailyProgrammerChallenge398Difficult/zero-valued-2020-matrix-solved-kindof.csv
DailyProgrammerChallenge398Difficult/zero-valued-2020-matrix.csv
DailyProgrammerChallenge398Difficult/Properties/launchSettings.json
DailyProgrammerChallenge398Difficult/matrix-sum-20.csv
*.vsidx
